/* リセットCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.main-nav {
  display: flex;
}

.main-nav li {
  margin-left: 30px;
}

.main-nav li:first-child {
  margin-left: 0;
}

.main-nav a {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  transition: all 0.3s ease;
}

.main-nav a:hover {
  color: #333;
}

/* メインビジュアル */
.main-visual {
  padding-top: 80px; /* 追加 */
  padding-left:50px; /* 追加 */
  height: 500px;
  overflow: hidden;
  position: relative;
  background-image: url(images/news.jpg);
  background-size: cover;
  background-position: center;
}

/* チャンネル紹介 */
.channel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  background-color: #f7f7f7;
}

.channel-item {
  width: 30%;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.channel-item h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.news-topic {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.news {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
